@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); 

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', Arial;
    overflow: hidden;   /*lo q se sale de la pantalla se corta*/
}

h1 {
    font-size: 3vw;
    color: #252C4F;
    font-weight: bold;
}	

h2 {
    font-size: 2vw;
    color: #252C4F;
    font-weight: bold;
}

p {
    font-size: 1vw;
    color: #252C4F;
    font-weight: bold;
}

.contenedor_secundario { /* A la derecha y centro */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    height: 90vh;
    text-align: right;
    padding-right: 8%;
}

.fondo_secundario {
    background-color: #449DD1;
}

.letra_secundaria { /* Usar solo en vista de inicio y fin *//*Aunque creo que me gusta mas en 3vw como las otras*/
    font-size: 4vw;
    color: #F5FBFF;
    font-weight: bold;
}

.letra_grande1 { /* Usar en forma de voto y voto en blanco, son como los h1 pero para usar varios (mas de un h1 son mala practica)*/
    font-size: 3vw;
    color: #252C4F;
    font-weight: bold;
}

.letra_grande2 { /* Usar en botones*/
    font-size: 3vw;
    color: #F5FBFF;
    font-weight: bold;
}

.letra_chica1 { /* Usar en candidatos*/
    font-size: 2vw;
    color: #252C4F;
    font-weight: bold;
}

.letra_chica2 { /* Usar en botones*/
    font-size: 2vw;
    color: #F5FBFF;
    font-weight: bold;
}

.contenedor_img {
    position: absolute;
    margin-top: -20px;
    margin-left: -20px;
}

.img_secundaria {
    width: 50vw;
    opacity: 50%;
}

.img_primaria {
    width: 50vw;
    opacity: 30%;
    filter: hue-rotate(350deg) saturate(5) brightness(2.5); /* Hace la imagen celeste */
}

.contenedor_btn_comenzar {
    margin-top: 25vw;
    position: absolute;
    background-color: #F5FBFF;
    padding: 0.8vw 2vw;
    border-radius: 5px;
}

.btn_comenzar {
    color: #252C4F;
    text-decoration: none;
    font-weight: 700;
}

.contenedor_btn_siguiente {
    margin-top: 20vw;
    position: absolute;
    background-color: #252C4F;
    padding: 0.8vw 1vw;
    border-radius: 5px;
}

.btn_siguiente {
    color: #F5FBFF;
    text-decoration: none;
    font-weight: 700;
}

.contenedor_btn_como_votar {
    bottom: 0;
    right: 0;
    margin-right: 8%;
    margin-bottom: 1%;
    position: absolute;
    background-color: #252C4F;
    padding: 0.8vw;
    border-radius: 10px;
}

.i_primario {
    font-size: larger;
}

.btn_como_votar {
    color: #F5FBFF;
    text-decoration: none;
}

.contenedor_btn_como_votar2 {
    bottom: 0;
    right: 0;
    margin-right: 8%;
    margin-bottom: 1%;
    position: absolute;
    background-color: #449DD1;
    padding: 0.8vw;
    border-radius: 10px;
}

.btn_como_votar2 {
    color: #F5FBFF;
    text-decoration: none;
}

.i_secundario {
    font-size: larger;
    color: #252C4F;
}

input {
    margin-top: 10vw;
    padding: 1vw;
    width: 25vw;
    height: 2vw;
    border-radius: 5px;
    border: 2px solid #252C4F;
    position: absolute;
    font-size: larger;
}