<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <title>Constancia</title>
    <script>
        // Redirigir a fin_voto.html después de 5 segundos
        setTimeout(() => {
            window.location.href = "{{ url_for('fin_voto') }}";
        }, 5000);
    </script>
</head>
<body>
    <div class="contenedor_img">
        <img class="img_primaria" src="{{ url_for('static', filename='images/candidatos/escudo_nacional_argentino.png') }}" alt="">
    </div>
    <div class="contenedor_secundario">
        <h1>Imprimiendo Constancia</h1>
    </div>
</body>
</html>