<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forma de voto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body class="fondo_secundario">

    <div class="contenedor_img">
        <img class="img_secundaria"
            src="{{ url_for('static', filename='images/candidatos/escudo_nacional_argentino.png') }}" alt="">
    </div>
    <div class="contenedor_partidos with_cards">
        <h1>Forma de Voto</h1>
        <div class="partido">
            <div class="contenedor_camara">
                <a href="{{ url_for('votacion') }}">
                    <p><strong>Votar por Agrupación Política </strong></p>
                    <p>(Boleta Completa)</p>
                </a>
            </div>
        </div>

        <div class="partido">
            <div class="contenedor_camara">
                <a href="{{ url_for('votacion_cat') }}">
                    <p><strong>Votar por Categorías</strong></p>
                    <p>(Corte de Boleta)</p>
                </a>
            </div>
        </div>

        <div class="partido">
            <div class="contenedor_camara">
                <a href="{{ url_for('guardar_voto_blanco') }}">
                    <p><strong>Voto en Blanco</strong></p>
                    <p>(No se selecciona ningún candidato)</p>
                </a>
            </div>
        </div>
</body>

</html>