<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenid@</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body class="fondo_secundario">
    <div class="contenedor_img">
        <img class="img_secundaria" src="{{ url_for('static', filename='images/candidatos/escudo_nacional_argentino.png') }}" alt="">
    </div>
    <div class="contenedor_secundario">
        <p class="letra_secundaria">¡Hola! <br><br>Iniciemos el proceso <br>de votación.</p>
        <div class="contenedor_btn_comenzar">
            <a class="btn_comenzar" href="{{ url_for('ingresar_dni') }}">Comenzar</a>
        </div>
    </div>
    <div class="contenedor_btn_como_votar">
        <a class="btn_como_votar" href="{{ url_for('como_votar') }}">
            ¿Cómo votar? <i class="bi bi-question-circle-fill i_primario"></i>
        </a>
        
    </div>
</body>
</html>
