<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar DNI</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="scripts/ingresar_dni.js" defer></script> <!-- Enlace al archivo JS externo -->
</head>
<body>
    <div class="contenedor_img">
        <img class="img_primaria" src="{{ url_for('static', filename='images/candidatos/escudo_nacional_argentino.png') }}" alt="">
    </div>
    <div class="contenedor_secundario">
        <h1>Ingrese su DNI:</h1>
        <input type="text" class="miInput" minlength="8" id="dni" required placeholder="Ej: 12345678">
        <div class="contenedor_btn_siguiente disabled">
            <a class="btn_siguiente disabled" id="btn_dni" href="{{ url_for('reconocimiento') }}">Siguiente</a>
        </div>
    </div>
    <div class="contenedor_btn_como_votar2">
        <a class="btn_como_votar2" href="{{ url_for('como_votar') }}">¿Cómo votar? <i class="bi bi-question-circle-fill i_secundario"></i> </a>
        <p id="resultado"></p>
    </div>
</body>
</html>