<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ingresar DNI</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
  </head>
  <body>
    <div class="contenedor_img">
      <img
        class="img_primaria"
        src="{{ url_for('static', filename='images/candidatos/escudo_nacional_argentino.png') }}"
        alt=""
      />
    </div>
    <div class="contenedor_ingresar_dni">
      <h1>Ingrese su DNI:</h1>
      <div class="mensaje">
        <p id="mensaje_error" class="mensaje-error"></p>
      </div>
      <input
        type="text"
        class="miInput borde-verde borde-rojo"
        minlength="8"
        id="input_dni"
        required
        placeholder="Ej: 12345678"
      />

      <div class="mensaje">
        <p id="mensaje_error" class="mensaje-error"></p>
      </div>

      <div class="contenedor_btn_siguiente">
        <a
          class="btn_siguiente disabled"
          id="btn_dni"
          href="{{ url_for('reconocimiento') }}"
          >Siguiente</a
        >
      </div>
    </div>
    <div class="contenedor_btn_como_votar2">
      <a class="btn_como_votar2" href="{{ url_for('como_votar') }}"
        >¿Cómo votar? <i class="bi bi-question-circle-fill i_secundario"></i>
      </a>
      <p id="resultado"></p>
    </div>

    <script>
      const inputDni = document.getElementById("input_dni");
      const btnSiguiente = document.getElementById("btn_dni");

      inputDni.addEventListener("input", async () => {
        const dni = inputDni.value.trim();
        const mensajeError = document.getElementById("mensaje_error");

        // Validación simple: debe tener al menos 8 dígitos numéricos
        if (dni.length < 8 || isNaN(dni)) {
          setInputEstado("neutro");
          mensajeError.textContent = "";
          return;
        }

        try {
          const response = await fetch(`/verificar_dni?dni=${dni}`);
          const data = await response.json();

          if (data.existe) {
            if (data.habilitado) {
              setInputEstado("valido");
              mensajeError.textContent = "";
            } else {
              setInputEstado("invalido");
              mensajeError.textContent =
                "Ya ha realizado su voto. No puede volver a hacerlo.";
            }
          } else {
            setInputEstado("invalido");
            mensajeError.textContent = "DNI no registrado.";
          }
        } catch (error) {
          console.error("Error al verificar el DNI:", error);
          setInputEstado("neutro");
          mensajeError.textContent = "Error al verificar el DNI.";
        }
      });

      function setInputEstado(estado) {
        // limpiar clases anteriores
        inputDni.classList.remove("borde-verde", "borde-rojo");
        btnSiguiente.classList.add("disabled");

        if (estado === "valido") {
          inputDni.classList.add("borde-verde");
          btnSiguiente.classList.remove("disabled");
        } else if (estado === "invalido") {
          inputDni.classList.add("borde-rojo");
        }
      }
    </script>
  </body>
</html>
