<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reconocimiento</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="contenedor_img">
        <img class="img_primaria" src="image/escudo_nacional_argentino.png" alt="">
        
    </div>

    <div class="contenedor_titulo">
        <h1>Reconocimiento facial</h1>
        <img class="img-rec" src="./image/imagen-reconocimiento.png" alt="imagen para el reconocimiento">
    </div>

    <div class="contenedor_texto" >
        <div class="contenedor_btn_volver2">
            <a class="btn_volver2" href="./ingresar_dni.html">Volver</a>
        </div>
       
        <div class="contenedor_texto_validar">
            <a href="forma_voto.html" class="link_texto_validar"><p class="texto_validar">Estamos validando tu imagen...</p></a>
        </div>

    </div>

</body>
</html>