<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <title>Constancia</title>
</head>
<body class="fondo_secundario">
    <div class="contenedor_img">
        <img class="img_secundaria" src="{{ url_for('static', filename='images/candidatos/escudo_nacional_argentino.png') }}" alt="">
    </div>
    <div class="contenedor_pagina_finalizar_votacion">
        <div class="contenedor_resultados">
            <h1 class="letra_grande1">Resultados de la votación</h1>
            <div class="partido">
                <div class="resultados_partido border_bottom">
                    <div class="seccion_partido">
                        <p class="titulo">Lista</p>
                        <p class="titulo">305</p>
                        <p><strong>Cambio</strong></p>
                    </div>
                    <div id="p_1" class="seccion_partido {% if resultados['ganadorPresidente'] == 'contadorPresidente1' %}ganador{% endif %}">
                        <p class="titulo">Presidente</p>
                        <p><strong>García, Marta</strong></p>
                        <p><strong>Lopez, Camilo</strong></p>
                        <img class="img_resultados" src="{{ url_for('static', filename='images/candidatos/Cambio.png')}}" alt="IMGCAMBIO">
                        <p><strong>VOTOS TOTALES:</strong></p>
                        <p id="p_1_result">({{ resultados['porcentajePresidente1'] }}%) {{ resultados['contadorPresidente1'] }}</p>
                    </div>
                    <div id="g_1" class="seccion_partido {% if resultados['ganadorGobernado'] == 'contadorGobernador1' %}ganador{% endif %}">
                        <p class="titulo">Gobernador</p>
                        <p><strong>Hernandez, Luz</strong></p>
                        <p><strong>Cruz, Abigail</strong></p>
                        <img class="img_resultados" src="{{ url_for('static', filename='images/candidatos/Cambio_Gober.png')}}" alt="IMGCAMBIO">
                        <p><strong>VOTOS TOTALES:</strong></p>
                        <p id="g_1_result">({{ resultados['porcentajeGobernador1'] }}%) {{ resultados['contadorGobernador1'] }}</p>
                    </div>
                    <div id="i_1" class="seccion_partido {% if resultados['ganadorIntendente'] == 'contadorIntendente1' %}ganador{% endif %}">
                        <p class="titulo">Intendente</p>
                        <p><strong>Ramirez, Agustin</strong></p>
                        <img class="img_resultados" src="{{ url_for('static', filename='images/candidatos/Cambio_Inten.png')}}" alt="IMGCAMBIO">
                        <p><strong>VOTOS TOTALES:</strong></p>
                        <p id="i_1_result">({{ resultados['porcentajeIntendente1'] }}%) {{ resultados['contadorIntendente1'] }}</p>
                    </div>
                </div>
                <div class="resultados_partido border_bottom">
                    <div class="seccion_partido">
                        <p class="titulo">Lista</p>
                        <p class="titulo">302</p>
                        <p><strong>Valor</strong></p>
                    </div>
                    <div id="p_2" class="seccion_partido {% if resultados['ganadorPresidente'] == 'contadorPresidente2' %}ganador{% endif %}">
                        <p><strong>Castro, Juan</strong></p>
                        <p><strong>Gomez, Pablo</strong></p>
                        <img class="img_resultados" src="{{ url_for('static', filename='images/candidatos/Valor.png')}}" alt="IMGCAMBIO">
                        <p><strong>VOTOS TOTALES:</strong></p>
                        <p id="p_2_result">({{ resultados['porcentajePresidente2'] }}%) {{ resultados['contadorPresidente2'] }}</p>
                    </div>
                    <div id="g_2" class="seccion_partido {% if resultados['ganadorGobernador'] == 'contadorGobernador2' %}ganador{% endif %}">
                        <p><strong>Sánchez, Franco</strong></p>
                        <p><strong>Romero, Beatriz</strong></p>
                        <img class="img_resultados" src="{{ url_for('static', filename='images/candidatos/Valor_Gober.png')}}" alt="IMGCAMBIO">
                        <p><strong>VOTOS TOTALES:</strong></p>
                        <p id="g_2_result">({{ resultados['porcentajeGobernador2'] }}%) {{ resultados['contadorGobernador2'] }}</p>
                    </div>
                    <div id="i_2" class="seccion_partido {% if resultados['ganadorIntendente'] == 'contadorIntendente2' %}ganador{% endif %}">
                        <p><strong>Martinez, Lucía</strong></p>
                        <img class="img_resultados" src="{{ url_for('static', filename='images/candidatos/Valor_Inten.png')}}" alt="IMGCAMBIO">
                        <p><strong>VOTOS TOTALES:</strong></p>
                        <p id="i_1_result">({{ resultados['porcentajeIntendente2'] }}%) {{ resultados['contadorIntendente2'] }}</p>
                    </div>
                </div>
                <div class="resultados_partido border_bottom">
                    <div class="seccion_partido">
                        <p class="titulo">Lista</p>
                        <p class="titulo">307</p>
                        <p><strong>Unidos</strong></p>
                    </div>
                    <div id="p_3" class="seccion_partido {% if resultados['ganadorPresidente'] == 'contadorPresidente3' %}ganador{% endif %}">
                        <p><strong>Pérez, Analia</strong></p>
                        <p><strong>Mitre, Omar</strong></p>
                        <img class="img_resultados" src="{{ url_for('static', filename='images/candidatos/Unidos.png')}}" alt="IMGCAMBIO">
                        <p><strong>VOTOS TOTALES:</strong></p>
                        <p id="p_3_result">({{ resultados['porcentajePresidente3'] }}%) {{ resultados['contadorPresidente3'] }}</p>
                    </div>
                    <div id="g_3" class="seccion_partido {% if resultados['ganadorGobernador'] == 'contadorGobernador3' %}ganador{% endif %}">
                        <p><strong>Martinez, Tomás</strong></p>
                        <p><strong>Díaz, Eduardo</strong></p>
                        <img class="img_resultados" src="{{ url_for('static', filename='images/candidatos/Unidos_Gober.png')}}" alt="IMGCAMBIO">
                        <p><strong>VOTOS TOTALES:</strong></p>
                        <p id="g_3_result">({{ resultados['porcentajeGobernador3'] }}%) {{ resultados['contadorGobernador3'] }}</p>
                    </div>
                    <div id="i_3" class="seccion_partido {% if resultados['ganadorIntendente'] == 'contadorIntendente3' %}ganador{% endif %}">
                        <p><strong>Gonzales, Martín</strong></p>
                        <img class="img_resultados" src="{{ url_for('static', filename='images/candidatos/Unidos_Inten.png')}}" alt="IMGCAMBIO">
                        <p><strong>VOTOS TOTALES:</strong></p>
                        <p id="i_1_result">({{ resultados['porcentajeIntendente3'] }}%) {{ resultados['contadorIntendente3'] }}</p>
                    </div>
                </div>
                <div id="b">
                    <h2>Votos en blanco:</h2>
                    <p id="b_result">({{ resultados['porcentajeVotoBlanco'] }}%) {{ resultados['contadorVotoBlanco'] }}</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>