<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu Voto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body class="fondo_secundario">
    <div class="contenedor_img">
        <img class="img_secundaria"
            src="{{ url_for('static', filename='images/candidatos/escudo_nacional_argentino.png') }}" alt="">
    </div>
    <div class="contenedor_partidos with_cards">
        <h1>Tu Voto</h1>

        {% for cargo, voto in votos.items() %}
        <div class="partido">
            <div class="partido-encabezado">
                {% if not voto.es_blanco %}
                <img src="{{ url_for('static', filename='images/candidatos/' + voto.imagen) }}"
                    alt="{{ voto.partido }}">
                {% else %}
                <!-- <img src="{{ url_for('static', filename='images/candidatos/voto_blanco.png') }}" alt="Voto en blanco"> -->
                {% endif %}
                <div class="partido-info">
                    <div class="seccion">
                        {% if not voto.es_blanco %}
                        <p class="subtitulo">Partido</p>
                        <p class="titulo">{{ voto.partido }}</p>
                        {% else %}
                        <p class="titulo">Voto en Blanco</p>
                        {% endif %}
                    </div>
                    <div class="seccion">
                        {% if not voto.es_blanco %}
                        <p class="subtitulo">Lista</p>
                        <p class="titulo">{{ voto.lista }}</p>
                        {% else %}
                        <p class="titulo">Voto en Blanco</p>
                        {% endif %}
                    </div>
                    <div class="seccion">
                        {% if not voto.es_blanco %}
                        <p class="subtitulo">{{ cargo|capitalize }}</p>
                        <p class="titulo">{{ voto.candidato }}</p>
                        {% if voto.vice %}
                        <p class="subtitulo">Vice{{ cargo|capitalize }}</p>
                        <p class="titulo">{{ voto.vice }}</p>
                        {% endif %}
                        {% else %}
                        <p class="titulo">Voto en Blanco</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        <div class="contenedor_botones">
            <a class="btn_reiniciar" href="{{url_for('forma_voto')}}">Reiniciar</a>
            <a class="btn_confirmar" href="{{url_for('confirmar_voto')}}">Confirmar</a>
        </div>
    </div>
</body>

</html>