<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votar por Agrupación Política</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body class="fondo_votacion">
    <div class="contenedor_img_2">
        <img class="img_secundaria" src="{{ url_for('static', filename='images/candidatos/escudo_nacional_argentino.png') }}" alt="">
    </div>
    <div class="contenedor_partidos">
        <h1>Tu Voto</h1>
        <div class="partido-elegido">
            <div class="partido-encabezado">
                <img src="./image/Cambio.png" alt="cambio">
                <div class="partido-info">
                    <div class="seccion">
                        <p class="titulo">Partido</p>
                        <p class="titulo">CAMBIO</p>
                    </div>
                    <div class="seccion">
                        <p class="titulo">Lista</p>
                        <p class="titulo">307</p>
                    </div>
                    <div class="seccion">
                        <p class="titulo">Presidente</p>
                        <p><strong>García, Marta</strong></p>
                    </div>
                    <div class="seccion">
                        <p class="titulo">Vicepresidente</p>
                        <p><strong>Lopez, Camila</strong></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="partido">
            <div class="partido-encabezado">
                <img src="./image/Cambio_Gober.png" alt="valor">
                <div class="partido-info">
                    <div class="seccion">
                        <p class="titulo">Partido</p>
                        <p class="titulo">CAMBIO</p>
                    </div>
                    <div class="seccion">
                        <p class="titulo">Lista</p>
                        <p class="titulo">307</p>
                    </div>
                    <div class="seccion">
                        <p class="titulo">Gobernador</p>
                        <p><strong>Hernandez, Luz</strong></p>
                    </div>
                    <div class="seccion">
                        <p class="titulo">Vicegobernador</p>
                        <p><strong>Cruz, Abigail</strong></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="partido">
            <div class="partido-encabezado">
                <img src="./image/Cambio_Inten.png" alt="unidos">
                <div class="partido-info">
                    <div class="seccion">
                        <p class="titulo">Partido</p>
                        <p class="titulo">CAMBIO</p>
                    </div>
                    <div class="seccion">
                        <p class="titulo">Lista</p>
                        <p class="titulo">307</p>
                    </div>
                    <div class="seccion">
                        <p class="titulo">Intendente</p>
                        <p><strong>Ramirez, Agustin</strong></p>
                    </div>
                    <div class="seccion">
                        <div></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="contenedor_botones">
            <a class="btn_reiniciar" href="{{url_for('forma_voto')}}">Reiniciar</a>
            <a class="btn_confirmar" href="{{url_for('constancia')}}">Confirmar</a>
        </div>
    </div>
</body>
</html>