<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voto en Blanco</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body class="fondo_secundario">

    <div class="contenedor_img">
        <img class="img_secundaria" src="{{ url_for('static', filename='images/candidatos/escudo_nacional_argentino.png') }}" alt="">
    </div>

    <section class="opciones-voto">

        <p class="letra_chica1">Tu voto</p>

        <div class="tabla-forma-voto">            
            <div class="row">
                <div class="contenedor-votos">
                    <a href="#" class="btn-agrupacion-politica">
                        Voto en Blanco                
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="tabla-fin-reinicio">            
            <div class="row">
                <div class="contenedor-opciones">
                    <a href="{{url_for('forma_voto')}}" class="btn-opcion">
                        Reiniciar               
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="contenedor-opciones">
                    <a href="{{ url_for('registrar_voto') }}" class="btn-opcion">
                        Confirmar               
                    </a>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>